* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}


header {
    background-color: #e3e3e3;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 130px;
    height: 100%;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    margin-left: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #6B6B6B;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #333;
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.webp") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.hero h1 {
    color: rgb(207, 207, 207);
    font-size: 48px;
    text-align: center;
    padding-top: 450px;
}

.hero button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: rgb(2, 128, 71);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: rgb(2, 128, 71);
}

.beneficios {
    padding: 50px 20px;
}

.beneficios h2 {
    color: rgb(2, 128, 71);
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.beneficios-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.beneficio-item {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: transform .3s ease;
}

.beneficio-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.beneficio-item h3 {
    color: rgb(2, 128, 71);
    font-size: 24px;
    margin-bottom: 10px;
}

.beneficio-item p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.testimonios {
    padding: 50px 20px;
}

.testimonios h2 {
    color: rgb(2, 128, 71);
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.testimonios-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonio-item {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: transform .3s ease;
}

.testimonio-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #d7d7d7;
}

.testimonio-item h4 {
    color: rgb(2, 128, 71);
    font-size: 20px;
    margin-bottom: 10px;
}

.testimonio-item p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.frase-destacada {
    background-color: #00972b;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    margin: 40px 0;
}

.contacto {
    padding: 50px 20px;
}

.contacto h2 {
    color: rgb(2, 128, 71);
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.contacto form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacto form input,
.contacto form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contacto form button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(2, 128, 71);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto form button:hover {
    background-color: rgb(2, 128, 71);
}

.footer {
    background-color: #e3e3e3;
    color: #333;
    text-align: center;
    padding: 20px;
}

footer .contacto {
    margin-top: 10px;
    font-size: 14px;
}

footer .contacto a {
    color: #6B6B6B;
    text-decoration: none;
}

footer .contacto a:hover {
    color: #333;
}

footer .redes-sociales {
    margin-top: 10px;
}
footer .redes-sociales a {
    color: #6B6B6B;
    text-decoration: none;
    margin: 0 10px;
}
footer .redes-sociales a:hover {
    color: #333;
}

@media (max-width: 768px) {
    .beneficios-container,
    .testimonios-container {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 480px){

    .hero h1{
        font-size: 32px;
        padding-top: 300px;
    }

    header nav ul li{
        display:block;
        margin:10px 0;
    }
    header nav ul li a{
        font-size: 18px;
    }
}




